@import "~bootstrap/dist/css/bootstrap.min.css";


.header-border{
  border-radius: 20px;
  box-shadow: 0px 7px 5px 0px rgba(195,187,187,0.75); 
 -webkit-box-shadow: 0px 7px 5px 0px rgba(195,187,187,0.75);
-moz-box-shadow: 0px 7px 5px 0px rgba(195,187,187,0.75);
}

.bg-new-button{
  background-color: #20681a;
  color:white;
  border-radius: 6px;
}

.bg-saved-button{
  border-color: #f09a22;
  border-radius: 6px;
  background-color: white;
  color: black;
}
.name-button{
  background-color: white;
  color: #f09a22;
  border-radius: 50%;
  border-color: aliceblue;
}
.name-button:hover{
  border-color: aliceblue;
  background-color: white;
  color: #f09a22;
}
.bg-saved-button:hover{
  border-color: #f09a22;
  background-color: white;
  color: black;
}


.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.red{
  border-radius: 5%;
}
.img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 9px;
}
/* .mrg{
  margin-left: 40px;
  margin-right: 40px;
  
} */
   .image-container {
  position: relative;
  display: inline-block;
}

/* Style for the image */
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Style for the buttons */
.button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

/* Style for the individual buttons */
.button-wrapper .button {
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* color: black; */
  /* border-top-right-radius: 40%; */
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-wrapper .button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Positioning for the buttons */
 .button-top {
  position: absolute;
  align-self: flex-start;
  border-radius: 0px 20px 20px 0px;
  border-color: white;
  background-color: #20681a;
  color: white;
  left: -2px;
  /* border-bottom-right-radius: 40%; */
}

.button-bottom {
  align-self: flex-start;
  border-radius: 0px 12px 0px 0px;
  border-color: white;
  background-color: #20681a;
  color: white;
  left: -2px;
  bottom: -2px;
} 
.cursor-pointer{
  cursor: pointer;
}
.text-orange{
  color: #f09a22;
}
.border-activity{
  border-bottom: 2px solid #f09a22;
  
}